html,body{
    margin: 0%;
    padding: 0%;
    background-image: url("img graphique/avion-background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
}
.Destinations{
    display: flex;
    flex-direction: column;
}
.Accueil,.Soleil,.Montagne,.Decouvrir{
    text-decoration: none;
}
